<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Perfil is your developer public profile</h1>
		<h3>
			<a href="/google/authorize" class="btn btn-block btn-lg btn-social btn-github">
		    <span class="fa fa-google"></span> Sign in with Google
		  </a>
		</h3>
	</div>
</div>
