<h3>Stackoverflow Basic Stats</h3>
<table>
  <tr>
    <td>stackoverflow reputation</td><td><%=stackoverflow_user.reputation%></td>
  </tr>
  <tr>
    <td>stackoverflow gold badges</td><td><%=stackoverflow_user.badge_counts.gold%></td>
  </tr>
  <tr>
    <td>stackoverflow silver badges</td><td><%=stackoverflow_user.badge_counts.silver%></td>
  </tr>
  <tr>
    <td>stackoverflow bronze badges</td><td><%=stackoverflow_user.badge_counts.bronze%></td>
  </tr>
</table>
