<h3>Stackoverflow Basic Stats</h3>
<table>
  <tr>
    <td>stackoverflow reputation</td><td><%=stackoverflow_basic_stats.reputation%></td>
  </tr>
  <tr>
    <td>stackoverflow gold badges</td><td><%=stackoverflow_basic_stats.badges.gold%></td>
  </tr>
  <tr>
    <td>stackoverflow silver badges</td><td><%=stackoverflow_basic_stats.badges.silver%></td>
  </tr>
  <tr>
    <td>stackoverflow bronze badges</td><td><%=stackoverflow_basic_stats.badges.bronze%></td>
  </tr>
</table>
